body{
	background: url('http://evergreenalumniclub.com/images/xv.png');
}
ul{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
}
li{
	list-style: none;
}
#container{
	background: white;
	width: 800px;
	min-height: 500px;
	margin: 50px auto;
	padding: 10px;
	border: 1px solid black;
}
#navHolder{
	text-align: center;
	font-size: 25px;
}
#usersListTable{
	width: 100%;
}
.userTableFullName{
	width: 205px;
}
.userTableAssociateClass{
	width: 125px;
}
.userTableEmailAddy{
	width: 105px;
}
.userTablePhoneNumber{
	width: 105px;
}
.sectionSelector{
	display: inline-block;
	margin: 2px 20px;
	cursor: pointer;
	position: relative;
	-webkit-transition: bottom 250ms;
}
.sectionSelector:hover{
	bottom: 2px;
	-webkit-transition: bottom 100ms;
}
.sectionSelector:active{
	bottom: 0px;
}
#createUsersHolder{
	display: none;
}

#newEACMeetingHolder{
	display: none;
}

#createUsersHolder select{
	min-width: 140px;
}
#referredByMemberInput{
	width: 500px;
}
.kittenSubmitButton{
	cursor: pointer;
	overflow: hidden;
	width: 125px;
	height: 65px;
	text-align: center;
	position: relative;
	border-radius: 5px;
	margin-top: 7px;
	border: 1px solid black;

	-moz-box-shadow:    0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow:         0px 0px 5px 0px #ccc;

	transition: all 350ms;
	-moz-transition: all 350ms; /* Firefox 4 */
	-webkit-transition: all 350ms; /* Safari and Chrome */
	-o-transition: all 350ms; /* Opera */
}
.kittenSubmitButton:hover{
	bottom: 2px;
	border: 1px solid black;

	-moz-box-shadow:    0px 0px 5px 6px #ccc;
	-webkit-box-shadow: 0px 0px 5px 6px #ccc;
	box-shadow:         0px 0px 5px 6px #ccc;
}
.kittenSubmitButton:active{
	transition: all 0ms;
	-moz-transition: all 0ms; /* Firefox 4 */
	-webkit-transition: all 0ms; /* Safari and Chrome */
	-o-transition: all 0ms; /* Opera */
	top: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*Recruits tab*/
#recruitmentPageHolder{
	display: none;
	position: relative;
	border: 1px solid black;
}
#recruitsNameListHolder{
	width: 25%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 1px solid black;
}
.recruitsListItem{
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid black;
}
.recruitsListItem:hover{
	background: grey;
}
.recruitsListItem > div{
	margin: 0px 5px;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
#recruitsDetailsHolder{
	width: 75%;
	position: absolute;
	height: 100%;
	overflow: auto;
	top: 0px;
	right: 0px;
}
#recruitsDetailsHolder > div{
	margin: 20px;
}