body{
	background: url('http://evergreenalumniclub.com/images/xv.png');
	font-family: "Lucida Sans Unicode" , "Lucida Grande" , Garuda , sans-serif;
}
ul{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
}
li{
	list-style: none;
}
#container{
	background: white;
	width: 1000px;
	min-height: 500px;
	margin: 50px auto;
	padding: 10px;
	border: 1px solid black;
}
#loginPane{
	background: white;
	width: 600px;
	min-height: 400px;
	margin: 50px auto;
	padding: 10px;
	border: 1px solid black;
	display: none;
}
#navHolder{
	text-align: center;
	font-size: 25px;
}
#usersListTable{
	width: 100%;
}
#loginForm{
	text-align: center;
}
.error{
	color: red;
	font-weight: bold;
}
.userTableFullName{
	width: 205px;
}
.userTableAssociateClass{
	width: 125px;
}
.userTableEmailAddy{
	width: 105px;
}
.userTablePhoneNumber{
	width: 105px;
}
.sectionSelector{
	display: inline-block;
	margin: 2px 20px;
	cursor: pointer;
	position: relative;
	-webkit-transition: bottom 250ms;
}
.sectionSelector:hover{
	bottom: 2px;
	-webkit-transition: bottom 100ms;
}
.sectionSelector:active{
	bottom: 0px;
}
#createUsersHolder{
	display: none;
}

#newEACMeetingHolder{
	display: none;
}

#createUsersHolder select{
	min-width: 140px;
}
#referredByMemberInput{
	width: 500px;
}
.kittenSubmitButton{
	cursor: pointer;
	overflow: hidden;
	width: 125px;
	height: 65px;
	text-align: center;
	position: relative;
	border-radius: 5px;
	margin-top: 7px;
	border: 1px solid black;

	-moz-box-shadow:    0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow:         0px 0px 5px 0px #ccc;

	transition: all 350ms;
	-moz-transition: all 350ms; /* Firefox 4 */
	-webkit-transition: all 350ms; /* Safari and Chrome */
	-o-transition: all 350ms; /* Opera */
}
.kittenSubmitButton:hover{
	bottom: 2px;
	border: 1px solid black;

	-moz-box-shadow:    0px 0px 5px 6px #ccc;
	-webkit-box-shadow: 0px 0px 5px 6px #ccc;
	box-shadow:         0px 0px 5px 6px #ccc;
}
.kittenSubmitButton:active{
	transition: all 0ms;
	-moz-transition: all 0ms; /* Firefox 4 */
	-webkit-transition: all 0ms; /* Safari and Chrome */
	-o-transition: all 0ms; /* Opera */
	top: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*Recruits tab*/
.selectedRecruitListItem > div{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid white;
	border-left: 1px solid black;
	background: white;
	z-index: 10;
	position: absolute;
	width: 237px;
}
#recruitmentPageHolder{
	display: none;
	position: relative;
}
#recruitsNameListHolder{
	width: 25%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.recruitsListItem{
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	position: relative;
}
.recruitsListItem:hover > div{
	background: grey;
}
.recruitsListItem > div{
	padding: 0px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#recruitsDetailsHolder{
	width: 75%;
	position: absolute;
	height: 100%;
	overflow: auto;
	top: 0px;
	right: 0px;
	border: 1px solid black;
}
#recruitsDetailsHolder > div{
	margin: 5px 10px;
}

#recruitTopDivision{
	height: 35px;
	margin-top: 10px;
}
#recruitmiddleDivision{
	height: 25px;
	margin-top: 17px;
}
#recruitBottomDivision{
	max-height: 25px;
	margin-top: 10px;
}
#recruitName{
	margin-top: 5px;
	font-size: 35px;
	float: left;
}
.recruitSocialIcon{
	width: 24px;
	height: 24px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}
#recruitTopDivision > *:nth-child(2) > div{
	margin-right: 0px;
}
.recruitFacebookIcon{
	background: url('images/sprite.png') -102px 0px;
}
.recruitLinkedInIcon{
	background: url('images/sprite.png') -34px 0px;
}
.recruitTwitterIcon{
	background: url('images/sprite.png') -68px 0px;
}
.recruitGoogleIcon{
	background: url('images/sprite.png') 0px 0px;
}
.recruitPhoneNumber{
	float: left;
}
.recruitEmailAddress{
	float:right
}
.recruitDOBLabelHolder, .recruitHSLabelHolder{
	display: inline-block;
	margin-left: 20px;
}
#recruitBottomDivision > div:first-child{
	margin-left: 0px;
}
.recruitDOBLabel, .recruitHSLabel{
	font-weight: bold;
}
.recruitDivider{
	width: 95%;
	height: 1px;
	background: black;
	margin: 10px auto;
}
#recruitInfoAreaTop{
	max-height: 50px;
}
#recruitInfoAreaBottom > .recruitSmallLabel{
	width: 100%;
}
.recruitSmallLabel{
	font-size: 10px;
	min-width: 140px;
	float: left;
	margin-right: 5px;
}
#recruitInfoAreaTop > .recruitSmallLabel:last-child{
	margin-right: 0px;
}
.recruitLargeData{
	font-size: 14px;
}
