body{
	background: url('http://evergreenalumniclub.com/images/xv.png');
	font-family: "Lucida Sans Unicode" , "Lucida Grande" , Garuda , sans-serif;
}
ul{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
	padding: 0px;
	margin: 0px;
}
li{
	list-style: none;
}
#container{
	background: white;
	width: 1000px;
	min-height: 500px;
	margin: 50px auto;
	padding: 10px;
	border: 1px solid black;
}
#loginPane{
	background: white;
	width: 600px;
	min-height: 400px;
	margin: 50px auto;
	padding: 10px;
	border: 1px solid black;
	display: none;
}
#navHolder{
	text-align: center;
	font-size: 25px;
}
#usersListTable{
	width: 100%;
}
#loginForm{
	text-align: center;
}
.error{
	color: red;
	font-weight: bold;
}
.userTableFullName{
	width: 235px;
}
.userTableAssociateClass{
	width: 125px;
}
.userTableEmailAddy{
	width: 305px;
}
.userTablePhoneNumber{
	width: 125px;
}
.sectionSelector{
	display: inline-block;
	margin: 2px 20px;
	cursor: pointer;
	position: relative;
	-webkit-transition: bottom 250ms;
}
.sectionSelector:hover{
	bottom: 2px;
	-webkit-transition: bottom 100ms;
}
.sectionSelector:active{
	bottom: 0px;
}
#createUsersHolder{
	display: none;
}

#newEACMeetingHolder{
	display: none;
}

#createUsersHolder select{
	min-width: 140px;
}
#referredByMemberInput{
	width: 500px;
}
.submitNewUserButton{
	cursor: pointer;
	overflow: hidden;
	width: 125px;
	height: 65px;
	text-align: center;
	position: relative;
	border-radius: 5px;
	margin-top: 7px;
	border: 1px solid black;

	-moz-box-shadow:    0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow:         0px 0px 5px 0px #ccc;

	transition: all 350ms;
	-moz-transition: all 350ms; /* Firefox 4 */
	-webkit-transition: all 350ms; /* Safari and Chrome */
	-o-transition: all 350ms; /* Opera */
}
.submitNewUserButton:hover{
	bottom: 2px;
	border: 1px solid black;

	-moz-box-shadow:    0px 0px 5px 6px #ccc;
	-webkit-box-shadow: 0px 0px 5px 6px #ccc;
	box-shadow:         0px 0px 5px 6px #ccc;
}
.submitNewUserButton:active{
	transition: all 0ms;
	-moz-transition: all 0ms; /* Firefox 4 */
	-webkit-transition: all 0ms; /* Safari and Chrome */
	-o-transition: all 0ms; /* Opera */
	top: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*Recruits tab*/
.selectedRecruitListItem > div{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid white;
	border-left: 1px solid black;
	background: white;
	z-index: 10;
	position: absolute;
}
#recruitmentPageHolder{
	display: none;
	position: relative;
}
#recruitsNameListHolder{
	width: 24%;
}
.recruitsListItem{
	cursor: pointer;
	height: 25px;
	line-height: 25px;
	position: relative;
}
.recruitsListItem > div{
	width: 239px;
}
.recruitsListItem:hover > div{
	text-decoration: underline;
}
.recruitsListItem > div{
	padding: 0px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#recruitsDetailsHolder{
	width: 75%;
	margin-left: 25%;
	padding-left: 8px;
	overflow: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
}
#recruitsDetailsHolder > div{
	margin: 5px 10px;
}

#recruitTopDivision{
	height: 35px;
}
#recruitmiddleDivision{
	margin-top: 17px;
}
#recruitBottomDivision{
	max-height: 25px;
	clear: both;
}
#recruitName{
	margin-top: 5px;
	font-size: 35px;
	float: left;
}
.recruitSocialIcon{
	width: 24px;
	height: 24px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}
#recruitTopDivision > *:nth-child(2) > div{
	margin-right: 0px;
}
.recruitFacebookIcon{
	background: url('images/sprite.png') -102px 0px;
}
.recruitLinkedInIcon{
	background: url('images/sprite.png') -34px 0px;
}
.recruitTwitterIcon{
	background: url('images/sprite.png') -68px 0px;
}
.recruitGoogleIcon{
	background: url('images/sprite.png') 0px 0px;
}
.recruitPhoneNumber{
	float: left;
}
.recruitEmailAddress{
	float:right
}
.recruitDOBLabelHolder, .recruitHSLabelHolder{
	display: inline-block;
	margin-left: 20px;
}
#recruitBottomDivision > div{
	margin-top: 10px;
}
#recruitBottomDivision > div:first-child{
	margin-left: 0px;
}
.recruitDOBLabel, .recruitHSLabel{
	font-weight: bold;
}
.recruitDivider{
	width: 95%;
	height: 1px;
	background: black;
	margin: 10px auto;
}
#recruitInfoAreaTop{
	height: 40px;
}
#recruitInfoAreaBottom > .recruitSmallLabel{
	width: 100%;
}
.recruitSmallLabel{
	font-size: 10px;
	margin-right: 25px;
}
#recruitInfoAreaTop > .recruitSmallLabel{
	float: left;
}
#recruitInfoAreaTop > .recruitSmallLabel:last-child{
	margin-right: 0px;
}
.recruitLargeData{
	font-size: 14px;
}
.contactViaIcon{
	width: 16px;
	height: 16px;
	float: left;
	margin-top: 2px;
}
.contactViaText{
	background: url('images/sprite.png') -207px 0px;
}
.contactViaEmail{
	background: url('images/sprite.png') -188px 0px;
}
.contactViaSocialMedia{
	background: url('images/sprite.png') -150px 0px;
}
.contactViaPhone{
	background: url('images/sprite.png') -169px 0px;
}
.contactViaVoicemail{
	background: url('images/sprite.png') -132px 0px;
}
.recruitContactInnerHolder{
	margin-top: 5px;
	margin-left: 20px;
}
.contactHeader{
	font-size: 10px;
}
.recruitContactor{
	font-size: 14px;
}
#recruitCommentsHolder, #recruitsContactHistoryListHolder{
	position: relative;
	overflow: hidden;
}
.recruitCommentInnerHolder{
	margin-top: 5px;
	margin-left: 61px;
}
.recruitCommentImage{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	background: url('images/sprite.png') 0px -34px;
	float: left;
	margin: 0px 5px 5px 0px;
}
.recruitCommentHeader{
	font-size: 10px;
}
.recruitCommentItem{
	min-height: 61px;
	font-size: 14px;
}
.addItemButtonHolder{
	width: 80px;
	height: 35px;
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	cursor: pointer;
	opacity: 0.5;
}
.addItemButtonHolder:hover{
	opacity: 1;
}
.addIcon{
	margin-top: 5px;
	margin-left: 5px;
	width: 24px;
	height: 24px;
	background: url('images/sprite.png') -70px -31px;
	float: left;
}
.addItemLabel{
	margin-top: 5px;
	margin-left: 31px;
	font-size: 20px;
}
.addItemHolder{
	position: absolute;
	right: 0px;
	background: white;
	padding: 0px 5px;
	border: 1px solid black;
}
.addItemHolder > div:first-child{
	display: none;
}
#recruitsContactHistoryListHolder{
	min-height: 155px;
}
#recruitsContactHistoryListHolder > .addItemHolder{
	width: 250px;
	height: 115px;
	top: -125px;
}
#recordRecruitContactButton, #addRecruitCommentButton{
	margin: 0px 20px;
	text-align: center;
	border: 1px solid black;
	cursor: pointer;
}
#recruitContactNotesHolder{
	line-height: 40px;
	vertical-align: top;
}
#recruitContactNotesHolder > textarea{
	height: 50px;
	resize: none;
}
#submitNewContactItem{
	cursor: pointer;
}
#recruitCommentsHolder{
	min-height: 95px;
}
#recruitCommentsHolder > .addItemHolder{
	width: 275px;
	height: 85px;
	top: -95px;
}
#recruitsNewCommentTextHolder{
	line-height: 40px;
	vertical-align: top;
}
#recruitsCommentsHolder > textarea{
	height: 50px;
}
#createUserButton{
	border: 1px solid black;
	width: 208px;
}
#usersListTable thead{
	font-weight: bold;
}

#viewUserHolder{
	display: none;
}

#viewUserHeader{
	display: table;
}

.displayInline{
	display: table-cell;
}

#viewUserTitle{
	width: 79%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

/* Wiz Buttons */

.wiz-buttons > div > a {
    position: relative;
    display:block;
    font: normal 14px Arial;
    text-decoration: none;
    cursor:pointer;
}

.wiz-buttons > div > a > .button {
    min-width: 75px;
}

.wiz-buttons > div > .previous {
    color: #666;
}

.wiz-buttons > div > .previous > .arrow-inner {
    display: block;
    position: absolute;
    top: 1px;
    left: 3px;
    z-index: 2000;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-right-color: #f4f4f4;    
}

.wiz-buttons > div > .previous > .arrow {
    display: block;
    float: left;
    width: 0;
    height: 0;
    border:  15px solid transparent;
    border-right-color: #e8e8e8;
}

.wiz-buttons > div > .previous > .button {
    display: block;
    float: left;
    line-height: 20px;
    background-color: #f6f6f6;
    border: 2px solid #eaeaea;
    border-left: 0;
    padding: 3px 9px 3px 3px;
    text-align: center;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.wiz-buttons > div > .previous:hover > .arrow {
    border-right-color: #e1e1e1;
}

.wiz-buttons > div > .previous:hover > .arrow-inner {
    border-right-color: #eaeaea;
}

.wiz-buttons > div > .previous:hover > .button {
    background-color: #eaeaea;
    border-color: #e3e3e3;
}



.wiz-buttons > div > .edit {
    color: #666;
}

.wiz-buttons > div > .edit > .button {
    display: block;
    float: left;
    line-height: 20px;
    background-color: #f6f6f6;
    border: 2px solid #eaeaea;
    padding: 3px 9px 3px 3px;
    text-align: center;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.wiz-buttons > div > .edit:hover > .button {
    background-color: #eaeaea;
    border-color: #e3e3e3;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .recruitsListItem > div{
		width: 229px;
	}
}